
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/vue/vue.js"></script>
    <script src="~/Scripts/vue/Component_Edit.js"></script>
    <script src="~/Scripts/vue/axios.min.js"></script>

    <title>Artical</title>
</head>
<body>
    <div id="art-Edit" class="container">
        <artical-list></artical-list>
        <artical-edit></artical-edit>
    </div>
</body>
</html>

<script src="~/Scripts/vue/Artical.js"></script>
