<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/vue/vue.js"></script>
    <script src="~/Scripts/vue/Component.js"></script>
    <script src="~/Scripts/vue/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <app-header></app-header>
        <app-intro></app-intro>
        <app-artical></app-artical>
        <app-contact></app-contact>
        <app-footer></app-footer>
    </div>
</body>
</html>

<script src="~/Scripts/vue/Index.js"></script>
